/* home area css codes */
    .stats-container {
      display: flex;
      justify-content: center;
      background-color: #e8f0fe;
      padding: 20px 0;
    }

    .stat-box {
      background-color: white;
      text-align: center;
      padding: 20px;
      margin: 0 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 200px;
    }

    .stat-box h3 {
      color: #355592; 
      font-size: 2em;
      margin: 0;
    }

    .stat-box p {
      font-size: 1em;
      color: black;
      margin: 10px 0 0;
      font-size: large;
    }
    
    #header {
      margin-top: -5px;
    }

    #header a{
      color: white;
      font-weight: 700;
    }
  
    .hero-container{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
    }

    .navbar-nav .orange{
      background-color: #F39A18;
      color: white;
      font-size: 18px;
      font-weight:700;
      border-radius: 10px;
    }

    #header.header-scrolled{
      border-bottom: 1px solid var(--border-bottom-2);
      background-color: rgba(53, 85, 146);
    }
  
  
    #hero .container{
      position: relative;
      top: 200px; 
      height: 200px;
      margin-top: -20px;
    }
  
  
    #hero .row p{
      color: white;
      background-color: #355494;
      width: 200px;
      padding: 1px 20px;
      font-size: 20px;
      font-weight: 700;
      border-radius: 5px;
      text-shadow: 3px 3px 8px black;
      margin-left: 30px;
    }
  
    #hero .row h1{
      color: white;
      font-size: 70px;
      line-height: 1.2;
      font-weight: 700;
      margin-top: -20px;
      margin-left: 30px;
      text-shadow: 4px 4px 8px black;
    }

    #hero .row h3{
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 32px;
      line-height: 1.4;
      font-weight: 600;
      padding: 8px 20px;
      margin-left: 30px;
      width: 800px;
    }
  
    #hero .row .buttons{
      margin-top: 10px;
      width: 600px;
    }
  
    #hero .row .button1{
      background-color: #355591;
      color: white;
      border: none;
      padding: 8px 32px;
      font-size: 28px;
      border-radius: 5px;
      font-weight: 700;
      margin-left: 48px;
    }
  
    #hero .row .button2{
      background-color: rgba(0, 0, 0, 0.5);
      border: solid 2px white ;
      color: white;
      border-radius: 5px;
      padding: 8px 32px;
      font-size: 28px;
      font-weight: 700;
      margin-left: 48px;
    }

  @media (max-width: 576px){
    #header .content-nav{
        margin-left: 0 !important;
        width: 576px;
    }
  }

   @media (max-width: 576px){
    #hero .row h1{
        font-size: 72px;
    }
    #hero .row h3{
        font-size: 24px;
        margin-left: -10px;
    }

    #hero .row .buttons{
        width: 450px;
        
    }
    #hero .row .button1{
        width: 430px;
        text-align: start;
        margin: 0 !important;
    }
    #hero .row .button2{
        width: 515px;
        text-align: start;
        margin: 0 !important;
    }
    .hero-container {
      width: 576px;
    }
    #hero .row p{
      color: white;
      background-color: #355494;
      width: auto;
      padding: 1px 20px;
      font-size: 24px;
      font-weight: 700;
      border-radius: 5px;
      text-shadow: 3px 3px 8px black;
      margin-left: 5px;
    }

    #hero .row h1{
      color: white;
      line-height: 1.2;
      font-weight: 700;
      margin-top: -20px;
      margin-left: -15px;
      text-shadow: 4px 4px 8px black;
      font-size: 60px;
      display: flex;
    }

    #hero .row .button1{
      background-color: #355591;
      color: white;
      border: none;
      padding: 8px 32px;
      font-size: 28px;
      border-radius: 5px;
      font-weight: 700;
      margin-left: 48px;
      width: 510px;
    }

    #hero .row .button2{
      background-color: rgba(0, 0, 0, 0.5);
      border: solid 2px white ;
      color: white;
      border-radius: 5px;
      padding: 8px 32px;
      font-size: 28px;
      font-weight: 700;
      margin-left: 48px;
      width: 510px;
    }
  } 

  @media (max-width: 576px){
   .stats-container {
        display: block;
        justify-content: center;
        background-color: #e8f0fe;
        padding: 20px 0;
        width: 576px;
      }

      .stat-box {
        background-color: white;
        text-align: center;
        padding: 20px;
        margin: 0 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin-bottom: 30px;
        margin-left: 125px;
      } 

      #header {
        width: 576px;
      }
    }  

  
   
    